@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components
@using DataHub.Core.Components.Shared
@using Microsoft.AspNetCore.Components.Authorization

<FluentLayout>
    <FluentHeader style="position: relative;">
        <div class="header-content">
            <AuthorizeView>
                <Authorized>
                    <FluentAnchor Href="Account/Manage">Hello, @context.User.Identity?.Name!</FluentAnchor>
                    <form action="Account/Logout" method="post">
                        <FluentButton Type="@Microsoft.FluentUI.AspNetCore.Components.ButtonType.Submit">Log out</FluentButton>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <FluentAnchor Href="Account/Register">Register</FluentAnchor>
                    <FluentAnchor Href="Account/Login">Log in</FluentAnchor>
                </NotAuthorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        @if (HostEnvironment.IsDevelopment())
        {
            <div style="position: absolute; top: 0; right: 0;">
                <DevAuthControl />
            </div>
        }
    </FluentHeader>
    <FluentNavMenu>
        <NavMenu />
    </FluentNavMenu>
    <FluentMain>
        <article class="content px-4">
            @Body
        </article>
    </FluentMain>
    <FluentDialogProvider @rendermode="RenderMode.InteractiveServer" />
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostEnvironment

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            Console.WriteLine($"MainLayout.razor: OnAfterRenderAsync (firstRender: {firstRender}) START");
            await base.OnAfterRenderAsync(firstRender);
            Console.WriteLine($"MainLayout.razor: OnAfterRenderAsync (firstRender: {firstRender}) END");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"MainLayout.razor: EXCEPTION in OnAfterRenderAsync (firstRender: {firstRender}): {ex.GetType().FullName} - {ex.Message}\n{ex.StackTrace}");
            throw;
        }
    }
}